<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated scripting -->
      <package
            uri="http://shr.scripting/1.0"
            class="de.urszeidler.shr5.scripting.ScriptingPackage"
            genModel="model/scripting.genmodel"/>
   </extension>

</plugin>
