<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 (c) Urs Zeilder
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gameplay -->
      <package
            uri="http://urszeidler.de/shr5/gameplay/1.0"
            class="de.urszeidler.eclipse.shr5.gameplay.GameplayPackage"
            genModel="model/gameplay.genmodel"/>
   </extension>

</plugin>
