@CHARSET "UTF-8";

body {
	font-family: monospace;
	font-size: 12px;
   
}


a {
	
}

ul.action {
margin: 1px;
padding-left: 5px;
	
}

li.action {
font-size: 9px;
text-align: justify;
text-shadow: gray;
word-spacing: normal;
width: 100px;
letter-spacing: normal;
list-style: circle;
}

p {
	font-size: 9px;
	
}

p.history {
	font-size: 9px;
	margin: 0px;
	white-space: nowrap;
}

p.inventar {
	font-size: 9px;
	margin: 0px;
}

hr {
	align: center;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0));
}

select.item {
	font-size: 10px;
}

img.eobject {
	vertical-align: middle;	
}

.row-part-left {
	display: inline;
}

.row-part-right {
	display: inline;
}

.probe-container {
	background-color: white;
}

.probe-header {
	
}

.probe-mods {
	
}

.probe-input-line {
	
}

.probe-input-label {
	display: inline;
	vertical-align: top;
	text-align: left;
}

.probe-input-field {
	display: inline;
	text-align: right;
}

.layout-right {
	float: right;
}

.main-container {
	
}

.inner-margin {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 5px;
	margin-right: 5px;
}


.container-row {
	display: inline-flex;
	width: 100%;

}

.container-element-inline {
	display: inline;
}

.main-container-row {
	display: inline;
}

.main-list {
	font-size: 10px;
	height: 200px;
}

.history-container {
	
}

.small-detail {
	font-size: 8px;
	
}

.default-line {
	font-size: 10px;
	white-space: nowrap;
}

.history-line {
	font-size: 9px;
	white-space: nowrap;
}

.history-list {
	overflow: auto;
	height: 150px;
}

.thin-border {
	border-bottom-width: 1px;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-color: Black;
	border-top-color: Black;
	border-right-color: Black;
	border-left-style: solid;
	border-right-width: thin;
	border-right-style: solid;
	border-left-width: thin;
	border-bottom-color: Black;
	border-top-width: thin;
	margin: 2px;
}

.small-corner {
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	-moz-top-radius-topright: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	box-shadow: 2px 2px 1px #888888;
}

.big-corner {
	-moz-border-radius-bottomright: 20px;
	border-bottom-right-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	border-bottom-left-radius: 20px;
	-moz-top-radius-topright: 20px;
	border-top-right-radius: 20px;
	-moz-border-radius-topleft: 20px;
	border-top-left-radius: 20px;
	box-shadow: 4px 4px 2px #888888;
}

.big-corner-margin {
	margin: 15px;
}

.condition-monitor-section {
		overflow: auto;
}

.condition-monitor-container {

	vertical-align: top;
	width: 80px;
	float: left;
	margin-bottom: 5px;
}

.condition-monitor-titel {
	font-size: 9px;
	margin: 3px;
}

.condition-monitor {
	
}

.condition-monitor-row {
	margin: 2px;
	overflow: auto;
	width: 150px;
}

.condition-box {
	padding: 2px;
	margin: 2px;
	height: 8px;
	width: 7px;
	float: left;
	
	display: inline;
	border: 1px;
	border-color: Black;
	border-style: solid;
	font-size: 1px;
	
	-moz-border-radius-bottomright: 2px;
	border-bottom-right-radius: 2px;
	-moz-border-radius-bottomleft: 2px;
	border-bottom-left-radius: 2px;
	-moz-top-radius-topright: 2px;
	border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	border-top-left-radius: 2px;
	box-shadow: 1px 1px 1px #888888;
}

.red-filled {
	background: red;
}

.condition-box-number {
	display: inline;
	font-size: 7px;
	text-align: center;
	vertical-align: middle;
}

.character-container {

}

.character-container-head {

}

.character-single-item-container {

	font-size: 10px;
}

.character-inventar-container {
	
}

.character-multi-item-container {
	overflow: auto;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.ui-dialog-titlebar{
	display: none;
}

.button {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	padding:1px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}


label {
    width: 150px;
    text-align: right;
    display: inline-block;
}


fieldset {
    border-radius: 10px;
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    border: 2px groove threedface;
}
legend {
    position: absolute;
    top: -2px;
    background: #fff;
    padding: 10px 20px;
    border: 2px groove threedface;
    border-top: none;
    box-shadow: inset 0 -5px 5px rgba(0,0,0,.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,.3);
    font-weight: bold;
}
legend span {
    display: block;
    margin: -20px;
    background: #fff;
    padding: 0px 20px;
}


input:focus, textarea:focus {
    border-color: #C9C9C9;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
    } 