<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shr5Management -->
      <package
            uri="http://urszeidler.de/shr5mngt/1.0"
            class="de.urszeidler.eclipse.shr5Management.Shr5managementPackage"
            genModel="model/shr5Management.genmodel"/>
   </extension>

</plugin>
