<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target includeMode="feature" name="de.urszeidler.shr5.tp" sequenceNumber="96">
<locations>

		<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/eclipse/updates/4.26/"/>
			
			<unit id="org.eclipse.ecf.core.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.core.ssl.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.feature.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
			
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
			<unit id="org.eclipse.sdk.tests.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
			<unit id="org.eclipse.equinox.p2.discovery.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.ide" version="0.0.0"/>
<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
<unit id="org.eclipse.osgi.services" version="0.0.0"/>
<unit id="org.eclipse.osgi.util" version="0.0.0"/>
<unit id="jakarta.servlet-api" version="0.0.0"/>

<unit id="org.eclipse.ecf.provider.filetransfer.ssl" version="0.0.0"/>
<unit id="org.eclipse.ecf.ssl" version="0.0.0"/>
<unit id="org.eclipse.ecf.identity" version="0.0.0"/>
<unit id="org.eclipse.ecf" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.httpclient5.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer.ssl.feature.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
		</location>
		

<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
<unit id="org.eclipse.acceleo.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ocl.all.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.net4j.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.ecf.core.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.query.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecore.edit.feature.group" version="0.0.0"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.eclipse.jetty.server" version="0.0.0"/>
<unit id="org.slf4j.api" version="0.0.0"/>
<unit id="org.eclipse.e4.ui.progress" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.rcp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.core.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/2022-12"/>
</location>

		
<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.nebula.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/nebula/releases/2.4.2/"/>
</location>


<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">


<unit id="javax.servlet.source" version="3.1.0.v201410161800"/>
<unit id="javax.servlet" version="3.1.0.v201410161800"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20150519210750/repository/"/>
</location>


<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecp.validation.view.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfforms.runtime.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.workspace.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.emfforms.sdk.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.mappingdmr.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.view.validation.bean.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.diffmerge.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.ecore.feature.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.feature.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.ecp.e3.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/ecp/releases/releases_target_127/"/>
</location>


	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200529191137/repository/"/>
		<unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
		<unit id="com.google.guava.source" version="27.1.0.v20190517-1946"/>
	</location>

	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/justj/jres/17/updates/release/latest/"/>
		<unit id="org.eclipse.justj.openjdk.hotspot.jre.full.feature.group" version="0.0.0"/>
	</location>

	<location includeAllPlatforms="true" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
		<repository location="https://download.eclipse.org/technology/babel/update-site/latest/"/>
		<unit id="org.eclipse.babel.nls_eclipse_de.feature.group" version="4.26.0.v20230220105658"/>
		<unit id="org.eclipse.babel.nls_modeling.emf_de.feature.group" version="4.26.0.v20230220105658"/>

	</location>
</locations>
</target>