<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<!--
      <file
            filePath="viewmodels/reichweite.view">
      </file>
      <file
            filePath="viewmodels/gegenstand.view">
      </file>
      <file
            filePath="viewmodels/feuerwaffe.view">
      </file>
     
      <file
            filePath="viewmodels/shrList.view">
      </file>
     <file
            filePath="viewmodels/persona.view">
      </file>
     <file
            filePath="viewmodels/nahkampfwaffe.view">
      </file>
     <file
            filePath="viewmodels/SourceBook.view">
      </file>

            <file
            filePath="viewmodels/cyberware.view">
      </file>
           <file
            filePath="viewmodels/fertigkeit.view">
      </file>
 -->
      
   </extension>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
   <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.AttributModifikatorWidget"
            id="de.urszeidler.shr5.ecp.AttributModifikatorWidget"
            showLabel="false">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EAttribute"
               supportedEObject="de.urszeidler.eclipse.shr5.AbstraktModifikatoren"
               supportedFeature="attribut">
         </staticTest>
      </control>
     
            <control
            class="de.urszeidler.shr5.ecp.widgets.AttributModifikatorWidget"
            id="de.urszeidler.shr5.ecp.AttributModifikatorWidget1"
            showLabel="false">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EAttribute">
         </staticTest>
      </control>
       -->
      <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarTableWidget"
            id="de.urszeidler.shr5.ecp.BeschreibarTable"
            showLabel="false">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar"
               supportedEObject="de.urszeidler.eclipse.shr5.Cyberware"
               supportedFeature="einbau">
         </staticTest>
      </control>
      <control
            class="de.urszeidler.shr5.ecp.widgets.FwModieWidget"
            id="de.urszeidler.shr5.ecp.control2">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.FeuerModus">
         </staticTest>
      </control>
      -->
      <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.ShrDateWidget"
            id="de.urszeidler.shr5.ecp.ShrDateWidget"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date"
               supportedEObject="de.urszeidler.eclipse.shr5.SourceBook">
         </staticTest>
      </control>
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarTableWidget"
            id="de.urszeidler.shr5.ecp.BeschreibarTable1">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar">
         </staticTest>
      </control>
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarWidget"
            id="de.urszeidler.shr5.ecp.Beschreibar1">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar">
         </staticTest>
      </control>
      -->
   </extension>

 
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="de.urszeidler.shr5.ecp.filter.BasicFilter">
      </FilterProvider>
   </extension>

   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener
            class="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         <dynamicTester
               tester="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         </dynamicTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.urszeidler.shr5.ecp.editor.ShadowrunEditor"
            default="false"
            id="de.urszeidler.eclipse.shadowrun.presentation.editors.ShadowrunEditorID"
            name="%editor.name">
      </editor>
           <editor
            class="de.urszeidler.shr5.runtime.ui.editor.RuntimeEditor"
            default="false"
            id="de.urszeidler.eclipse.shadowrun.presentation.editors.RuntimeEditorID"
            name="%runtime.editor.name">
      </editor>
      
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.urszeidler.shr5.ecp.Shr5Initalizer">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.urszeidler.shr5.ecp.preferences.basic.page"
            class="de.urszeidler.shr5.ecp.preferences.PrintPreferencePage"
            id="de.urszeidler.shr5.ecp.preferences.PrintPreferencePage"
            name="%print.preferences.page.name">
      </page>
      <page
            class="de.urszeidler.shr5.ecp.preferences.Sr5MainPreferences"
            id="de.urszeidler.shr5.ecp.preferences.basic.page"
            name="%main.preferences.page.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.shr5.ecp.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="de.urszeidler.shr5.ecp.category.views"
            class="de.urszeidler.shr5.ecp.views.GeneratorValidationView"
            icon="images/valadapter_obj.gif"
            id="de.urszeidler.shr5.ecp.GeneratorValidationView"
            name="%generatorValidation.view.name">
      </view>
      <category
            id="de.urszeidler.shr5.ecp.category.views"
            name="%shadowrun.views.category">
      </category>
      <view
            category="de.urszeidler.shr5.ecp.category.views"
            class="de.urszeidler.shr5.runtime.ui.views.CombatTurnView"
            icon="images/start-combat-on.png"
            id="de.urszeidler.shr5.ecp.CombatTurnView"
            name="%combat.view.name"
            restorable="true">
      </view>
      <view
            category="de.urszeidler.shr5.ecp.category.views"
            class="de.urszeidler.shr5.runtime.ui.views.RuntimeScriptView"
            id="de.urszeidler.shr5.runtime.ui.views.RuntimeScriptView"
            name="%runtime.view.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <serviceFactory
            factoryClass="de.urszeidler.shr5.ecp.service.UIServiceFactory">
         <service
               serviceClass="de.urszeidler.shr5.ecp.service.ValidationService">
         </service>
         <service
               serviceClass="de.urszeidler.shr5.ecp.service.ScriptService">
         </service>
      </serviceFactory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.urszeidler.shr5.ecp.character"
            name="%characterGenerator.category.name">
      </category>
      <wizard
            canFinishEarly="false"
            category="de.urszeidler.shr5.ecp.character"
            class="de.urszeidler.shr5.ecp.wizards.NewShr5GeneratorWizard"
            descriptionImage="images/CoreGenerator64.png"
            hasPages="true"
            icon="images/CoreGenerator16.gif"
            id="de.urszeidler.shr5.ecp.wizards.NewShr5GeneratorWizard"
            name="%corerule.wizard.name">
         <description>
            %corerule.wizard.description
         </description>
      </wizard>
      <wizard
            category="de.urszeidler.shr5.ecp.character"
            class="de.urszeidler.shr5.ecp.wizards.NewShr5KarmaGeneratorWizard"
            descriptionImage="images/KarmaGenerator64.png"
            icon="images/KarmaGenerator16.gif"
            id="de.urszeidler.shr5.ecp.wizards.NewShr5KarmaGeneratorWizard"
            name="%karma.wizard.name">
         <description>
            %karma.wizard.description
         </description>
      </wizard>
      <wizard
            category="de.urszeidler.shr5.ecp.character"
            class="de.urszeidler.shr5.ecp.wizards.NewFreeStyleGeneratorWizard"
            descriptionImage="images/FreestyleGenerator64.png"
            icon="images/FreestyleGenerator16.gif"
            id="de.urszeidler.shr5.ecp.wizards.NewFreeStyleGeneratorWizard"
            name="%freestyle.wizard.name">
         <description>
            %freestyle.wizard.description
         </description>
      </wizard>
      <category
            id="de.urszeidler.shr5.ecp.item"
            name="%create.wizard.category.name">
      </category>
      <wizard
            category="de.urszeidler.shr5.ecp.item"
            class="de.urszeidler.shr5.ecp.wizards.createItem.NewItemWizard"
            id="de.urszeidler.shr5.ecp.wizard2"
            name="%create.item.wizard.name">
         <description>
            %create.item.wizard.description
         </description>
      </wizard>
      <wizard
            category="de.urszeidler.shr5.ecp.item"
            class="de.urszeidler.shr5.ecp.wizards.createItem.NewContractWizard"
            icon="images/newContractWizard-small.png"
            id="de.urszeidler.shr5.ecp.wizard3"
            name="%create.contract.wizard.name">
         <description>
            %create.contract.wizard.description
         </description>
      </wizard>
     <wizard
           category="de.urszeidler.shr5.ecp.item"
           class="de.urszeidler.shr5.ecp.wizards.createItem.NewSoftwareWizard"
           hasPages="true"
           icon="images/AutoSoft.gif"
           id="de.urszeidler.shr5.ecp.wizard5"
           name="%create.software.wizard.name">
        <description>
           %create.software.wizard.description
        </description>
      </wizard>
     <wizard
            category="de.urszeidler.shr5.ecp.item"
            class="de.urszeidler.shr5.ecp.wizards.createItem.NewDefinitionWizard"
            id="de.urszeidler.shr5.ecp.wizard6"
            name="%create.description.wizard.name">
        <description>
           %create.description.wizard.description
        </description>
      </wizard>
     <wizard
           category="de.urszeidler.shr5.ecp.item"
           class="de.urszeidler.shr5.ecp.wizards.createItem.NewPersonaPartWizard"
           hasPages="true"
           id="de.urszeidler.shr5.ecp.wizard7"
           name="%create.personapart.wizard.name">
        <description>
           %create.personapart.wizard.description
        </description>
      </wizard>
     <wizard
           category="de.urszeidler.shr5.ecp.item"
           class="de.urszeidler.shr5.ecp.wizards.createItem.NewByuableWizard"
           id="de.urszeidler.shr5.ecp.wizard4"
           name="%create.value.wizard.name">
        <description>
           %create.value.wizard.description
        </description>
     </wizard>
    <wizard
           category="de.urszeidler.shr5.ecp.item"
           class="de.urszeidler.shr5.ecp.wizards.createItem.NewManagementWizard"
           hasPages="true"
           id="de.urszeidler.shr5.ecp.wizard8"
           name="%create.mng.wizard.name">
       <description>
          %create.mng.wizard.description
       </description>
      </wizard>
         <wizard
           category="de.urszeidler.shr5.ecp.item"
           class="de.urszeidler.shr5.ecp.wizards.createItem.NewDescibeableWizard"
           hasPages="true"
           id="de.urszeidler.shr5.ecp.wizard9"
           name="%create.describeable.wizard.name">
       <description>
          %create.describeable.wizard.description
       </description>
      </wizard>
      
   </extension>

  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=project.menu.id">
         <menu
               id="de.urszeidler.shr5.ecp.menus.characterMenu"
               label="%character.menu.label">
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.openCharacterWizardCommand"
                  mnemonic="S">
            </command>
            <separator
                  name="de.urszeidler.shr5.ecp.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                  label="%open.Generator.Object.command"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="1">
               </parameter>
            </command>
           <command
                 commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                 label="%open.ManagedCharacter.Object.command"
                 style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="2">
               </parameter>
            </command>
         </menu>
         <menu
               id="de.urszeidler.shr5.ecp.menus.extraMenu"
               label="%extra.menu.label">
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.createItemWizard"
                  style="push">
            </command>
            <separator
                  name="de.urszeidler.shr5.ecp.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                  label="%open.Any.Object.command"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="3">
               </parameter>
            </command>
           <command
                  commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                  label="%open.Item.Object.command"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="4">
               </parameter>
            </command>
            <separator
                  name="de.urszeidler.shr5.ecp.separator2"
                  visible="true">
            </separator>
                        <command
                              commandId="org.eclipse.ui.file.import"
                              label="%command.import"
                              style="push"
                              tooltip="%command.import.description">
            </command>
            
         </menu>
         <!--
         <menu
               id="de.urszeidler.shr5.ecp.menus.scriptMenu"
               label="script">
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                  label="start script"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="5">
               </parameter>
            </command>
           <command
                  commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand"
                  label="open script"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
                     value="6">
               </parameter>
            </command>
         </menu>
         -->
      </menuContribution>


 </extension>
  <extension
        point="org.eclipse.ui.commands">
     <category
           description="%openCharacterWizard.category.description"
           id="de.urszeidler.shr5.ecp.commands.openWizard"
           name="%openCharacterWizard.category.name">
     </category>
     <command
           categoryId="de.urszeidler.shr5.ecp.commands.openWizard"
           description="%openCharacterWizard.command.description"
           id="de.urszeidler.shr5.ecp.commands.openCharacterWizardCommand"
           name="%openCharacterWizard.command.name">
     </command>
     <command
           categoryId="de.urszeidler.shr5.ecp.commands.openWizard"
           id="de.urszeidler.shr5.ecp.commands.openObjectCommand"
           name="%open.object.command.name">
        <commandParameter
              id="de.urszeidler.shr5.ecp.commands.openObjectCommand.parameter.type"
              name="type"
              optional="true">
        </commandParameter>
     </command>
     <command
           id="de.urszeidler.shr5.ecp.commands.createItemWizard"
           name="%create.object.command.name">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="de.urszeidler.shr5.ecp.handlers.Shr5CommandHandler"
           commandId="de.urszeidler.shr5.ecp.commands.openCharacterWizardCommand">
     </handler>
     <handler
           class="de.urszeidler.shr5.ecp.handlers.OpenObjectHandler"
           commandId="de.urszeidler.shr5.ecp.commands.openObjectCommand">
     </handler>
     <handler
           class="de.urszeidler.shr5.ecp.handlers.CreateNewObjectsWizardCommandHandler"
           commandId="de.urszeidler.shr5.ecp.commands.createItemWizard">
     </handler>
  </extension>


</plugin>
