<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<!--
      <file
            filePath="viewmodels/reichweite.view">
      </file>
      <file
            filePath="viewmodels/gegenstand.view">
      </file>
      <file
            filePath="viewmodels/feuerwaffe.view">
      </file>
      -->
      <file
            filePath="viewmodels/shrList.view">
      </file>
     <file
            filePath="viewmodels/persona.view">
      </file>
     <file
            filePath="viewmodels/nahkampfwaffe.view">
      </file>
     <file
            filePath="viewmodels/SourceBook.view">
      </file>

            <file
            filePath="viewmodels/cyberware.view">
      </file>
           <file
            filePath="viewmodels/fertigkeit.view">
      </file>

      
   </extension>
   <extension
         point="org.eclipse.emf.ecp.edit.controls">
   <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.AttributModifikatorWidget"
            id="de.urszeidler.shr5.ecp.AttributModifikatorWidget"
            showLabel="false">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="org.eclipse.emf.ecore.EAttribute"
               supportedEObject="de.urszeidler.eclipse.shr5.AbstraktModifikatoren"
               supportedFeature="attribut">
         </staticTest>
      </control>
      -->
      <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarTableWidget"
            id="de.urszeidler.shr5.ecp.BeschreibarTable"
            showLabel="false">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar"
               supportedEObject="de.urszeidler.eclipse.shr5.Cyberware"
               supportedFeature="einbau">
         </staticTest>
      </control>
      <control
            class="de.urszeidler.shr5.ecp.widgets.FwModieWidget"
            id="de.urszeidler.shr5.ecp.control2">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.FeuerModus">
         </staticTest>
      </control>
      -->
      <control
            class="de.urszeidler.shr5.ecp.widgets.ShrDateWidget"
            id="de.urszeidler.shr5.ecp.ShrDateWidget"
            showLabel="true">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="java.util.Date"
               supportedEObject="de.urszeidler.eclipse.shr5.SourceBook">
         </staticTest>
      </control>
      <!--
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarTableWidget"
            id="de.urszeidler.shr5.ecp.BeschreibarTable1">
         <staticTest
               priority="1"
               singleValue="false"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar">
         </staticTest>
      </control>
      <control
            class="de.urszeidler.shr5.ecp.widgets.BeschreibbarWidget"
            id="de.urszeidler.shr5.ecp.Beschreibar1">
         <staticTest
               priority="1"
               singleValue="true"
               supportedClassType="de.urszeidler.eclipse.shr5.Beschreibbar">
         </staticTest>
      </control>
      -->
   </extension>

 
   <extension
         point="org.eclipse.emf.ecp.core.filters">
      <FilterProvider
            class="de.urszeidler.shr5.ecp.filter.BasicFilter">
      </FilterProvider>
   </extension>

   <extension
         point="org.eclipse.emf.ecp.ui.modelElementOpener">
      <modelElementOpener     
            class="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         <staticTester
               modelElement="de.urszeidler.eclipse.shr5.FertigkeitsGruppe"
               priority="2">
         </staticTester>
      </modelElementOpener>
      <modelElementOpener     
            class="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         <staticTester
               modelElement="de.urszeidler.eclipse.shr5.Gegenstand"
               priority="2">
         </staticTester>
      </modelElementOpener>
      <modelElementOpener     
            class="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         <staticTester
               modelElement="de.urszeidler.eclipse.shr5.Kleidung"
               priority="2">
         </staticTester>
      </modelElementOpener>
      <modelElementOpener
            class="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         <dynamicTester
               tester="de.urszeidler.shr5.ecp.opener.ECPAttributModifikatorWertOpener">
         </dynamicTester>
      </modelElementOpener>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="de.urszeidler.shr5.ecp.editor.ShadowrunEditor"
            default="false"
            id="de.urszeidler.eclipse.shadowrun.presentation.editors.ShadowrunEditorID"
            name="Shr5">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="de.urszeidler.shr5.ecp.Shr5Initalizer">
      </startup>
   </extension>


</plugin>
