
.right-image {
 vertical-align: right;
 float: right;
 margin: 5px;
 margin-left: 5px;
 margin-bottom: 5px;
}

.page-style {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
}
body > div.page-style {
  padding-left: 5%;
}
#content {
  text-align: left;
padding-right: 5%;
}
