img {
  vertical-align: middle;
}
.page-style {
  margin-top: 20px;
  background-repeat: no-repeat;
  background-position: right top;
  text-align: center;
}
body > div.page-style {
  padding-left: 10%;
}
#content {
  text-align: left;
padding-right: 10%;
}
