<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/main"
            class="de.urszeidler.shr5.webserver.ScriptServlet">
      </servlet>
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/web">
      </servlet>
      <servlet
            alias="/images"
            class="de.urszeidler.shr5.webserver.ImageServlet">
      </servlet>

   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/"
            base-name="/web">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=project.menu.id">
         <menu
               id="de.urszeidler.shr5.ecp.menus.scriptMenu"
               label="script">
            <separator
                  name="de.urszeidler.shr5.webserver.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.webserver.webserver"
                  label="start webserver"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="start">
               </parameter>
            </command>
            <command
                  commandId="de.urszeidler.shr5.webserver.webserver"
                  label="stop webserver"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="stop">
               </parameter>
            </command>
            <separator
                  name="de.urszeidler.shr5.webserver.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.webserver.webserver"
                  label="manage session"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="manage">
               </parameter>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.urszeidler.shr5.webserver.webserver"
            name="webserverCommand">
         <commandParameter
               id="de.urszeidler.shr5.webserver.webserver"
               name="action"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.urszeidler.shr5.webserver.mgnt.WebserverHandler"
            commandId="de.urszeidler.shr5.webserver.webserver">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.urszeidler.shr5.webserver.preferences.WebserverPreferencePage"
            id="de.urszeidler.shr5.webserver.preferences.WebserverPreferencePage"
            name="Webserver Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.shr5.webserver.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
