<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.urszeidler.shr5.m2t">
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardCharacterSheet"
            description="A text based bulleting board chracter sheet."
            dialogImage="images/textTransformations.png"
            name="Board Character sheet">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardShr5GeneratorSheet"
            dialogImage="images/textTransformations.png"
            name="Board Generator Character sheet">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.TableBoardShr5CharacterSheet"
            description="A text based bulleting board chracter sheet based on a table."
            dialogImage="images/textTransformations.png"
            name="BB Table Character Sheet">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SimpleSvg"
            description="A very basic character sheet."
            dialogImage="images/simple-svg.png"
            name="simple svg-&gt;pdf">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateSvgVehicleSheet"
            description="A very basic vehicle sheet."
            name="simple vehicle-&gt;pdf">
          <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateNpcCharacterSheet"
            description="A npc A5 landscape svg sheet."
            name="npc character sheet-&gt;pdf">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SvgCharacterSheet"
            description="A nice A4 svg character sheet"
            dialogImage="images/characterSheet1.png"
            name="characterSheet-&gt;pdf">
          <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SpiritFoSheet"
            name="Bound Spirits">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.FoCharacterSheet"
            name="Fo Character sheet">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerManagement">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GeneratorSystemBoardSheet"
            dialogImage="images/textTransformations.png"
            name="Generator system">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.Shr5System">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.LifeModulesSystem">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateLifeModuleBoardSheet"
            dialogImage="images/textTransformations.png"
            name="Life Module">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.LifeModule"></TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardScriptProtocollWriter"
            dialogImage="images/textTransformations.png"
            name="Script hinstory">
         <TransformerMapping
               class="de.urszeidler.shr5.scripting.ScriptHistory"></TransformerMapping>
      </Transformer>
   </extension>

</plugin>
