<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.urszeidler.shr5.m2t">
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardCharacterSheet"
            description="%Transformer.bbcharactersheet.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.bbcharactersheet.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardShr5GeneratorSheet"
            description="%Transformer.bbgeneratorsheet.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.bbgeneratorsheet.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.TableBoardShr5CharacterSheet"
            description="%Transformer.bbtablesheet.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.bbtablesheet.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.FoCharacterSheet"
            name="%Transformer.pdffo.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
     <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.FoInventoryCard"
            name="InventoryCards">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SvgCharacterSheet"
            description="%Transformer.pdfcharacter.description"
            dialogImage="images/characterSheet1.png"
            name="%Transformer.pdfcharacter.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SimpleSvg"
            description="%Transformer.pdfsimple.description"
            dialogImage="images/simple-svg.png"
            name="%Transformer.pdfsimple.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateSvgVehicleSheet"
            description="%Transformer.pdfvehicle.description"
            name="%Transformer.pdfvehicle.name">
          <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateNpcCharacterSheet"
            description="%Transformer.pdfnpc.description"
            name="%Transformer.pdfnpc.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.SpiritFoSheet"
            description="%Transformer.pdfbspirit.description"
            name="%Transformer.pdfbspirit.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.NonPlayerCharacter"></TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.PlayerCharacter">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.CharacterGroup">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GeneratorSystemBoardSheet"
            description="%Transformer.textgeneratossystem.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.textgeneratossystem.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.Shr5System">
         </TransformerMapping>
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.LifeModulesSystem">
         </TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.GenerateLifeModuleBoardSheet"
            description="%Transformer.textlms.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.textlms.name">
         <TransformerMapping
               class="de.urszeidler.eclipse.shr5Management.LifeModule"></TransformerMapping>
      </Transformer>
      <Transformer
            acceleoGenerator="de.urszeidler.shr5.acceleo.sheets.BoardScriptProtocollWriter"
            description="%Transformer.textscripthistory.description"
            dialogImage="images/textTransformations.png"
            name="%Transformer.textscripthistory.name">
         <TransformerMapping
               class="de.urszeidler.shr5.scripting.ScriptHistory"></TransformerMapping>
      </Transformer>
   </extension>

</plugin>
