<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="shr5"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.urszeidler.shr5.product.app"
            name="RCP schadowrun">
         <property
               name="windowImages"
               value="icons/shrImage_6_16.png,icons/shrImage_6_32.png,icons/shrImage_6_48.png,icons/shrImage_6_64.png,icons/shrImage_6_128.png">
         </property>
         <property
               name="aboutText"
               value="The shadowrun 5 IDE client.&#x0A;under Eclipse Public License, version 1.0.&#x0A;(c) Urs Zeidler&#x0A;&#x0A;sample images are from http://openclipart.org/&#x0A;&#x0A;Shadowrun is © 2013 The Topps Company, Inc, Catalyst Game Labs&#x0A;http://www.shadowruntabletop.com/&#x0A;&#x0A;This software also contains software from pdfBox (https://pdfbox.apache.org) &#x0A;and apache fop (http://xmlgraphics.apache.org/fop/).">
         </property>
         <property
               name="aboutImage"
               value="icons/shrImage_6_250.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,10,490,15">
         </property>
         <property
               name="startupMessageRect"
               value="5,226,490,20">
         </property>
         <property
               name="appName"
               value="RCP schadowrun">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application >
                     <run
               class="de.urszeidler.shr5.product.application.Application">
         </run>
            
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.urszeidler.shr5.product.application.ShadowrunPerspective"
            icon="icons/shadowrunPerspektive_16.png"
            id="de.urszeidler.shr5.product.application.ShadowrunPerspective"
            name="%resource.perspective.name">
      </perspective>
      <perspective
            class="de.urszeidler.shr5.product.application.ShadowrunCharacterPerspective"
            icon="icons/GeneratorPerspective16.png"
            id="de.urszeidler.shr5.product.application.ShadowrunCharacterPerspective"
            name="%generator.perspective.name">
      </perspective>
      <perspective
            class="de.urszeidler.shr5.product.application.RuntimePerspective"
            id="de.urszeidler.shr5.product.application.RuntimePerspective"
            name="Runtime Perspective">
      </perspective>
      <perspective
            class="de.urszeidler.shr5.product.application.CombatPerspective"
            icon="icons/start-combat-on.png"
            id="de.urszeidler.shr5.product.application.CombatPerspective"
            name="Combat Perspective">
      </perspective>
   </extension>


  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="project.menu.id"
               label="%menu.label">
            <command
                  commandId="org.eclipse.emf.ecp.ui.workbench.saveProject"
                  icon="icons/save_edit.gif"
                  id="project.menu.save.id"
                  label="%command.save"
                  style="push">
            </command>
            <command
                  commandId="de.urszeidler.shr5.product.switchWorkspace"
                  style="push">
            </command>
            <separator
                  name="de.urszeidler.shr5.product.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="windows.menu.id"
               label="%menu.windows">
            <separator
                  name="de.urszeidler.shr5.product.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <separator
                  name="de.urszeidler.shr5.product.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.update">
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.install"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.equinox.p2.ui.sdk.update"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <!--
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="de.urszeidler.shr5.product.toolbar2">
            <command
                  commandId="de.urszeidler.shr5.ecp.commands.openCharacterWizardCommand"
                  icon="icons/shadowrunPerspektive_16.png"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      -->
   </extension>
  <extension
        point="org.eclipse.ui.preferencePages">
    <page
            name="%PreferencePages.Startup"
            category="org.eclipse.ui.preferencePages.Workbench"
            class="de.urszeidler.shr5.product.preferences.pages.IDEStartupPreferencePage"
            id="org.eclipse.ui.preferencePages.Startup">
         <keywordReference id="org.eclipse.ui.ide.startupAndShutdown"/>
      </page>
     <page
            name="%PreferencePages.Startup.Workspaces"
            category="org.eclipse.ui.preferencePages.Startup"
            class="de.urszeidler.shr5.product.preferences.pages.RecentWorkspacesPreferencePage"
            id="org.eclipse.ui.preferencePages.Startup.Workspaces">
         <keywordReference id="org.eclipse.ui.ide.recentWorkspaces"/>
      </page>
  </extension>
  <extension
        point="org.eclipse.ui.commands">
     <command
           id="de.urszeidler.shr5.product.switchWorkspace"
           name="switch workspace">
     </command>
  </extension>
  <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="de.urszeidler.shr5.product.handler.ApplicationHandler"
           commandId="de.urszeidler.shr5.product.switchWorkspace">
     </handler>
  </extension>

</plugin>
