<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="shr5"
         point="org.eclipse.core.runtime.products">
      <product
            application="de.urszeidler.shr5.product.app"
            name="RCP schadowrun">
         <property
               name="windowImages"
               value="icons/shrImage_6_16.png,icons/shrImage_6_32.png,icons/shrImage_6_48.png,icons/shrImage_6_64.png,icons/shrImage_6_128.png">
         </property>
         <property
               name="aboutText"
               value="The shadowrun 5 IDE client.&#x0A;under Eclipse Public License, version 1.0.&#x0A;(c) Urs Zeidler&#x0A;&#x0A;sample images are from http://openclipart.org/&#x0A;&#x0A;Shadowrun is © 2013 The Topps Company, Inc, Catalyst Game Labs&#x0A;http://www.shadowruntabletop.com/">
         </property>
         <property
               name="aboutImage"
               value="icons/shrImage_6_250.png">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupProgressRect"
               value="5,10,490,15">
         </property>
         <property
               name="startupMessageRect"
               value="5,226,490,20">
         </property>
         <property
               name="appName"
               value="RCP schadowrun">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="app"
         point="org.eclipse.core.runtime.applications">
      <application >
                     <run
               class="de.urszeidler.shr5.product.application.Application">
         </run>
            
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.urszeidler.shr5.product.application.ShadowrunPerspective"
            icon="icons/shadowrunPerspektive_16.png"
            id="de.urszeidler.shr5.product.application.ShadowrunPerspective"
            name="Main shadowrun">
      </perspective>
      <perspective
            class="de.urszeidler.shr5.product.application.ShadowrunCharacterPerspective"
            id="de.urszeidler.shr5.product.application.ShadowrunCharacterPerspective"
            name="Character building">
      </perspective>
   </extension>


  <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="project.menu.id"
               label="%menu.label">
            <command
                  commandId="org.eclipse.ui.file.import"
                  label="%command.import"
                  style="push">
            </command>
            <separator
                  name="de.urszeidler.shr5.product.separator1">
            </separator>
            <command
                  commandId="org.eclipse.emf.ecp.ui.workbench.saveProject"
                  label="%command.save"
                  style="push">
            </command>
            <separator
                  name="de.urszeidler.shr5.product.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="%command.exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="%menu.windows">
            <command
                  commandId="org.eclipse.ui.window.newWindow"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.perspectives.showPerspective"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
