<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated shr5 -->
      <package
            uri="http://urszeidler.de/shr5/1.0"
            class="de.urszeidler.eclipse.shr5.Shr5Package"
            genModel="model/shr5.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated shr5 -->
      <parser
            type="shr5"
            class="de.urszeidler.eclipse.shr5.util.Shr5ResourceFactoryImpl"/>
   </extension>

</plugin>
