<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            name="%scripting.command.name"
            id="de.urszeidler.shr5.scripting.ui.commands">
          <commandParameter
               id="de.urszeidler.shr5.webserver.webserver"
               name="%scripting.commandParameter.name"
               optional="true">
         </commandParameter>
            
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="de.urszeidler.shr5.scripting.ui.commands"
            class="de.urszeidler.shr5.scripting.ui.handlers.ScriptHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=de.urszeidler.shr5.ecp.menus.extraMenu">
         <menu
               id="de.urszeidler.shr5.ecp.menus.scriptMenu"
               label="%scripting.menu.label">
               
                           <command
                  commandId="de.urszeidler.shr5.scripting.ui.commands"
                  label="%scripting.command.label.startScript"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="playScript">
               </parameter>
            </command>
           <command
                  commandId="de.urszeidler.shr5.scripting.ui.commands"
                  label="%scripting.command.label.openScript"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="openScript">
               </parameter>
            </command>
           <separator
                 name="de.urszeidler.shr5.scripting.ui.separator1"
                 visible="true">
           </separator>
           <command
                 commandId="de.urszeidler.shr5.scripting.ui.commands"
                 icon="icons/start-combat.png"
                 label="%scripting.command.label.quickCombat"
                 style="push">
              <parameter
                    name="de.urszeidler.shr5.webserver.webserver"
                    value="combat">
              </parameter>
           </command>
               
               
                           <separator
                  name="de.urszeidler.shr5.webserver.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.scripting.ui.commands"
                  label="%scripting.command.label.startWebserver"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="start">
               </parameter>
            </command>
            <command
                  commandId="de.urszeidler.shr5.scripting.ui.commands"
                  label="%scripting.command.label.stopWebserver"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="stop">
               </parameter>
            </command>
            <separator
                  name="de.urszeidler.shr5.webserver.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="de.urszeidler.shr5.scripting.ui.commands"
                  label="%scripting.command.label.manageSession"
                  style="push">
               <parameter
                     name="de.urszeidler.shr5.webserver.webserver"
                     value="manage">
               </parameter>
            </command>
               
                     </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.urszeidler.shr5.scripting.ui.preferences.ScriptPreferencePage"
            id="de.urszeidler.shr5.scripting.ui.preferences.ScriptPreferencePage"
            name="%scripting.perferencePage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.shr5.scripting.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.urszeidler.shr5.scripting.ui.wizards"
            name="%scripting.wizardCategory.name">
      </category>
      <wizard
            category="de.urszeidler.shr5.scripting.ui.wizards"
            class="de.urszeidler.shr5.scripting.ui.wizards.CombatScriptWizard"
            finalPerspective="de.urszeidler.shr5.product.application.RuntimePerspective"
            icon="icons/start-combat.png"
            id="de.urszeidler.shr5.scripting.ui.wizards.CombatScriptWizard"
            name="%scripting.combatScriptwizard.name">
      </wizard>
   </extension>

</plugin>
