<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated shr5 -->
      <factory
            uri="http://urszeidler.de/shr5/1.0"
            class="de.urszeidler.eclipse.shr5.provider.Shr5ItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.urszeidler.shr5.model.edit.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.urszeidler.shr5.ecp.preferences.basic.page"
            class="de.urszeidler.shr5.model.edit.preferences.LocalisationPreferencePage"
            id="de.urszeidler.shr5.model.edit.preferences.LocalisationPreferencePage"
            name="%localization.page.name">
      </page>
   </extension>

</plugin>
